<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Lato:700|Roboto+Mono&display=swap" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/4.3/examples/cover/cover.css" rel="stylesheet">
        {{ stylesheets }}
<style type="text/css">
</style>
    </head>
    {% block content %}{% endblock %}
</html>
