<h2 class="description_norm" style="font-family: Lato; text-align: center; font-weight: bold; line-height: 39px;">
    The power of a
    <nobr>
        <span class="feature" style="background: #77bb41;">
            <i class="fas fa-file-excel" style="color: #FFEB3B;"></i>
            <span class="highlight">Spreadsheet</span>
        </span>,
    </nobr>
    at the scale of a 
    <nobr>
        <span class="feature" style="background: #77bb41;">
            <i class="fas fa-database" style="color: #FFEB3B;"></i>
            <span class="highlight">Database</span>
        </span>,
    </nobr>
    with the usability of an 
    <nobr>
        <span class="feature" style="background: #77bb41;">
            <i class="fas fa-robot" style="color: #FFEB3B;"></i>
            <span class="highlight">API</span>
        </span>!
    </nobr>
</h2>
<br>
<div class="monokai_wrapper">
    <div class="red wb"></div>
    <div class="green wb"></div>
    <div class="yellow wb"></div>
    <div class="monokai" style="background: #282922;">
        <div class="comingsoon_container text-center">
            <h1 class="comingsoon" style="background: #282922;">Coming Soon!</h1><span class="typed-cursor typed-cursor--blink">|</span>
        </div>
        <h4 class="description" style="background: #282922; font-family: Roboto Mono; position: aboslute;">
        rowsheet: {
        <br>
        &nbsp;
        <nobr>
        "<span style="color: #65d9ef;">power_of</span>":
            <span class="feature code">
                <i class="fas fa-file-excel" style="color: #a5e22e;"></i>
                <span class="highlight">Spreadsheet</span>
            </span>,
        </nobr>
        <br>
        &nbsp;
        <nobr>
        "<span style="color: #f92671">scale_of</span>":
            <span class="feature code">
                <i class="fas fa-database" style="color: #fd9620;"></i>
                <span class="highlight">Database</span>
            </span>,
        </nobr>
        <br>
        &nbsp;
        <nobr>
        "<span style="color: #ae81ff;">usability_of</span>":
            <span class="feature code">
                <i class="fas fa-robot" style="color: #65d9ef;"></i>
                <span class="highlight">API</span>
            </span>
        <br>
        }
        </nobr>
        </h4>
    </div>
</div>
