p.description {
    margin: 0px;
}
.description_norm span.feature {
    background: none !important;
}
span.highlight {
    font-family: "Roboto Mono";
    vertical-align: bottom;
}
.description_norm span.feature {
}
.description_norm span.feature i.fas {
    color: #65d9ef !important;
}
.monokai_wrapper {
    text-align: left;
}
.feature {
	border-radius: 5px;
}
span.typed-cursor {
	color: white;
}
.description_norm {
	color: #7a7a7a;;
	text-align: left;
}
.description {
	color: #f5f5f5;
	text-align: left;
}
.description *:not(i){
	font-family: Roboto Mono;
}
span.highlight {
	color: white;
}
span.typed-cursor {
	color: white;
}
.monokai {
	padding: 15px;
    border-radius: 5px; }
.monokai_wrapper {
    padding: 3px;
    background: #f1f1f1;
    box-shadow: 0px 9px 19px #000000d4;
    border-radius: 5px;
}
label.form-check-label {
    color: #ffffff;
}
.red {
    background: #ff4f4f;
    height: 15px;
    width: 15px;
    border-radius: 10px;
}
.green {
    background: #ffcd4f;
    height: 15px;
    width: 15px;
    border-radius: 10px;
}
.yellow {
    background: #77de3c;
    height: 15px;
    width: 15px;
    border-radius: 10px;
}
.wb {
    display: inline-block;
}
