.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
h3.masthead-brand {
    color: #8BC34A;
}
img#logo_landing {
    max-width: 40%;
    width: 400px;
    float: left;
}
